/* line 1, ../sass/examples.scss */
.container {
  max-width: 940px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 979px) {
  /* line 8, ../sass/examples.scss */
  h2 {
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
  }
  /* line 12, ../sass/examples.scss */
  h2:after {
    content: " +";
    float: right;
  }
  /* line 18, ../sass/examples.scss */
  h2.active:after {
    content: " -";
  }
}
