body{
	margin: 0px;
}

.example1{
	.container{
		max-width: 940px;
		padding: 0 20px;
		margin: 0 auto;
	}
}

.example2{
	h1{
		margin: 20px 0px;
	}

	h2{
		margin: 0px;
		padding: 20px 0px 0px;
	}

	p{
		margin-bottom: 0px;
	}

	.container{
		width: 980px;
		margin: 0 auto;
	}

	.columns{
		overflow: hidden;
	}

	.col{
		width: 205px;
		padding: 0 20px 20px;
		float: left;
		background: #ccc;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 979px) {
	.example1{
		h2{
			border-bottom: 1px solid #000;
			padding-bottom: 10px;
			
			&:after{
				content: " +";
				float: right;
			}

			&.active{
				&:after{
					content: " -"
				}
			}
		}
	}

	.example2{
		h1{
			margin: 20px 20px 0;
		}

		.container{
			width: auto;
		}

		.col{
			float: none;
			width: auto;
			margin: 20px 20px;
			padding: 0px 20px 20px;
		}
	}
}