@import "../bower_components/sass-bootstrap/lib/bootstrap.scss";
@import "../bower_components/sass-bootstrap/lib/responsive.scss";

body {
  position: relative;
  padding-top: 40px;
}

/* Header
-------------------------------------------------- */

header {
  font-size: 22.5px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #07669c;
  text-align: center;
  font-family: 'Lato', sans-serif;

  .container{
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;
      padding: 30px;
  }
}

header h1 {
  margin-top: 20px;
  line-height: 1;
  color: #fff;
  font-weight: normal;
}

header p {
  line-height: 1.4;
  color: #fff;
}

/* Footer
-------------------------------------------------- */

footer {
  text-align: center;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}

footer p {
  margin-bottom: 0;
  color: #777;
}

section{
  border-top: 1px solid #ccc;
  padding: 40px 0px;

  h2{
    margin-top: 0px;
  }

  *:last-child{
    margin-bottom: 0px;
  }

  &:nth-child(odd){
    background-color: #efefef;
  }
}

@media screen and (min-width: 768px) and (max-width:979px) {

  body{
    padding-top: 0px;
  }

  .navbar-fixed-top {
  margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {

  body{
    padding-top: 0px;
  }

  header{
    margin: 0 -20px 0px;

    h1 {
      font-size: 28px;
    }

    img{
      height: 100px;
    }

    .lead{
      font-size: 14px;
      line-height: 1.3em;
    }
  }

  h2{
    font-size: 22px;
  }

  h3{
    font-size: 14px;
  }

  footer{
    margin: 0 -20px;
  }

  section{
    margin: 0 -20px;
    padding: 15px;
  }

  .navbar-fixed-top {
    margin-bottom: 0px;
  }
}