.hero {
    background: #563d7c;
    color: #fff;
    text-align: center;
}

footer {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

.old-version {
    background: #999;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;

    p {
        margin-bottom: 0;
    }

    .btn:first-child {
        margin-left: 20px;
    }
}

.margin-bottom-0 {
    margin-bottom: 0;
}